<form action="/caduser" method="POST">
    <div class="form-area">
        <h1 class="form-tittle">Login</h1>
        <input class="form-input" placeholder="Login" type="text" name="login" required/> 
        <input class="form-input" placeholder="Senha" type="password" name="senha" required/>
        <input class="form-input" placeholder="Confirmação de Senha" type="password" name="confirm" required/>
        <br>
        <button class="form-button" type="submit">Cadastrar</button>
        <a href="/"><button class="form-button" type="button">Voltar</button></a>
    </div>
</form>