<div class="navbar">
    <h1 class="registros-tittle">Sistema de Registros de Veículos</h1>
    <a href="/"><button class="navbar-button">Sair do sistema</button></a>
</div>

<form action="/add" method="POST">
    <div class="form-area">
        <h1 class="form-tittle">Entrada</h1>
        <input class="form-input" placeholder="Nome" type="text" name="nome"required/> 
        <input class="form-input" placeholder="Marca" type="text" name="marca" required/>
        <input class="form-input" placeholder="Modelo" type="text" name="modelo"required/>
        <input class="form-input" placeholder="Placa" type="text" name="placa"required/>
        <br>
        <button class="form-button" type="submit">Enviar</button>
        <a href="/home"><button class="form-button" type="button">Voltar</button></a>
    </div>
</form>