<form action="/add" method="POST">

    <div class="form-area">
        <h1 class="form-tittle">Entrada</h1>
        <input class="form-input" placeholder="Nome" type="text" name="nome"required/> 
        <br>
        <input class="form-input" placeholder="Marca" type="text" name="marca" required/>
        <br>
        <input class="form-input" placeholder="Modelo" type="text" name="modelo"required/>
        <br>
        <input class="form-input" placeholder="Placa" type="text" name="placa"required/>
        <br>
        <input class="form-input" type="date" name="data"required/>
        <br>
        <input class="form-input" type="time" name="hora"required/>
        <button class="form-button" type="submit">Enviar</button>
        <a href="/"><button class="form-button" type="button">Voltar</button></a>
    </div>
</form>