<div class="navbar">
    <h1 class="registros-tittle">Sistema de Registros de Veículos</h1>
    <a href="/"><button class="navbar-button">Sair do sistema</button></a>
</div>


<div class="form-area">
    <h1 class="form-tittle">Saida</h1>
    <input class="form-input" type="date" name="data"required/>
    input class="form-input" type="time" name="horasaida"required/>
    <br>
    <a href="/finalizar/{{id}}"><button class="form-button" type="submit">Finalizar</button></a>
    <a href="/home"><button class="form-button" type="button">Voltar</button></a>
</div>

