<form action="/caduser" method="POST">
    <div class="login-area">
        <div class="login-logo">
            <img src="/img/estacionamento2.png" alt="" class="login-img">
            <h1 class="login-tittle">Cadastro</h1>
        </div>

        <input class="caduser-input" placeholder="Login" type="text" name="login"required id="login" autocomplete="off"/> 
        <input class="caduser-input" placeholder="Senha" type="password" name="senha" id="senha" required/>
        <input class="caduser-input" placeholder="Confirmação de Senha" type="password" name="confirm" required/>
        <br>
        <button class="login-button" type="submit">Cadastrar</button>
        <a href="/"><button class="cad-button" type="button">Voltar</button></a>
    </div>
</form>