<form action="/login" method="POST">
    <div class="login-area">
        <div class="login-logo">
            <img src="/img/estacionamento2.png" alt="" class="login-img">
            <h1 class="login-tittle">Login</h1>
        </div>

        <input class="login-input" placeholder="Login" type="text" name="login" required/> 
        <input class="login-input" placeholder="Senha" type="password" name="senha" required/>
        <br>
        <button class="login-button" type="submit">Entrar</button>
        <a href="/user"><button class="cad-button" type="button">Cadastre-se aqui</button></a>
    </div>
</form>