<form action="/login" method="POST">
    <div class="form-area">
        <h1 class="form-tittle">Login</h1>
        <input class="form-input" placeholder="Login" type="text" name="login"required id="login"/> 
        <input class="form-input" placeholder="Senha" type="password" name="senha" id="senha" required/>
        <br>
        <button class="form-button" type="submit">Entrar</button>
        <a href="/user"><button class="form-button" type="button">Cadastrar</button></a>
    </div>
</form>